
.home {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 65vh;
}

	.home__play-button {

		padding: 50px 200px 50px 200px;

		border: 2px solid black;
		border-radius: 10px;
		
		font-size: 3em;
		font-weight: bolder;
		text-decoration: none;
		color: black;

		background-color: #CCCCAA;
	}


/* Mobiles width : 550px */
@media (max-width: 550px) {

	.home__play-button {
		
		padding: 25px 100px 25px 100px;

		font-size: 2em;
	}
}
