
.digit {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 49px;
	width: 49px;

	font-size: 30px;

	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	border: black 1px solid;

	background-color: white;
}

	.digit:hover {

		-webkit-filter:brightness(75%);
	}

@media (max-width: 550px) {

	.digit {

		height: 32px;
		width: 32px;

		font-size: 20px;
	}
}

@media (max-width: 350px) {

	.digit {

		height: 24px;
		width: 24px;

		font-size: 18px;
	}
}
