
.digits-selector {
	display: flex;
	flex-direction: row;

	height: 40px;
	width: 360px;
}

	.digits-selector__digit {
		display: flex;
		justify-content: center;
		align-items: center;
		
		height: 40px;
		width: 40px;

		font-size: 18px;

		user-select: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;

		border: 1px solid black;
		border-radius: 2px;

		background-color: #FFC133;
	}

		.digits-selector__digit:hover {

			-webkit-filter:brightness(75%);
		}

@media (max-width: 550px) {

	.digits-selector {

		height: 33px;
		width: 300px;
	}	

		.digits-selector__digit {

			height: 33px;
			width: 33px;
		}
}

@media (max-width: 350px) {

	.digits-selector {

		height: 25px;
		width: 225px;
	}	

		.digits-selector__digit {

			height: 25px;
			width: 25px;
		}
}
