
.grid {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;

	height: 450px;
	width: 450px;
}

.grid__big-square {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;

	height: 150px;
	width: 150px;

	border: 1px black solid;

	background-color: black;
}

